<div class="col-lg-3 col-lg-offset-1">
    <h1>Innsida</h1>


</div>
<div class="col-lg-2 col-lg-offset-3">
    <div class="stats">
        <table>
            <tr>
                <td>Aktive</td>
                <td>{{active}}</td>
            </tr>
            <tr>
                <td>Inaktiv</td>
                <td>{{inactive}}</td>
            </tr>
            <tr>
                <td>Permisjon</td>
                <td>{{leave}}</td>
            </tr>
            <tr>
                <td>Senior</td>
                <td>{{senior}}</td>
            </tr>
            <tr>
                <td>Alumni</td>
                <td>{{alumni}}</td>
            </tr>
        </table>
    </div>

</div>
<div class="col-lg-2">
    <div class="stats">
        <canvas id="distribution" width="100" height="100"></canvas>
        <div class="label girls">{{girls}} Jenter</div>
        <div class="label boys">{{boys}} Gutter</div>
    </div>
</div>